@fa-font-path:"~font-awesome/fonts";

@import '~bootstrap/less/bootstrap.less';
@import 'https://fonts.googleapis.com/css?family=Nixie+One|Merriweather|Raleway';

body{
  background: -webkit-radial-gradient(#e4e5e4, #989eac, #989eac); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#e4e5e4, #989eac, #989eac); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#e4e5e4, #989eac, #989eac); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#e4e5e4, #989eac, #989eac); /* Standard syntax */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

body,html{
	  height: 100% !important;
}
// Defining our color pallet:

//Blue + Accents
@main-blue : #044fff;
@main-blue-lighten-15 : lighten(@main-blue, 15%);

//Orange + Accents
@main-orange: #e24a2c;


//Mint
@main-mint: #e2ff6b;

//Yellow
@main-yellow: #FFFF45;

//Green
@main-green: #00d810;


@brand-primary:         darken(#e24a2c, 6.5%); // #337ab7
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;


@font-family-sans-serif:  'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       'Merriweather', Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;

@jumbotron-bg:   @main-blue;
@jumbotron-color: #fff;


@font-family-cursive: 'Nixie One', cursive;

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

@keyframes bounceup{
    from {top: 0px;} 
    to {top:-5px;} 
}
@-moz-keyframes bounceup{
    from {top: -5px;} 
    to {top:0px;} 
}

@keyframes bouncedown{
    from {left: 0px;} 
    to {left:20px;} 
}
@-moz-keyframes bouncedown{
    from {left: 20px;} 
    to {left:0px;} 
}

.jumbotron h1{
	font-family: @font-family-cursive;
}

.icon{
	position: relative;
	margin-right: 5px;
	top: 1px;
	left: 0px;
	opacity: 0;
	cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.fa-spinner{
	-webkit-animation: rotation 2s infinite linear;
}

li:hover .icon{
	opacity: 1;
    -webkit-transform: translate(5px,0);
    -moz-transform: translate(5px,0);
    -o-transform: translate(5px,0);
    -ms-transform: translate(5px,0);
    transform: translate(5px,0);
}

li:hover{
	cursor: pointer;
}

.bounceDown{
	position: relative;
    animation:bouncedown 0.2s;
    -moz-animation:bouncedown 0.2s; /* Firefox */
    -webkit-animation:bouncedown 0.2s; /* Safari and Chrome */   

}

.inputHolder{
	position: relative;
    animation:bounceup 0.2s;
    -moz-animation:bounceup 0.2s; /* Firefox */
    -webkit-animation:bounceup 0.2s; /* Safari and Chrome */        

}

.page{
	background-color: rgba(255, 255, 255, 0.45);
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 5px;
	margin-bottom: 20px;
}


.mongoExplorer{
	border: 1px solid #e9edef;
	border-radius: 2px;
	background-color: #fff;
	width: 33.33%
}

.mongoExplorer .widgetHeader{
	width: 100%;
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 2.2rem;
	border-bottom: 1px solid #e9edef;
}

.mongoExplorer .widgetBody{
	width: 100%;
	padding-left: 50px;
	padding-right : 50px;
	padding-top: 32px;
	padding-bottom: 32px;

}