@fa-font-path:"~font-awesome/fonts";

@import '~bootstrap/less/bootstrap.less';
@import 'https://fonts.googleapis.com/css?family=Nixie+One|Merriweather|Raleway';

@font-family-sans-serif:  'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       'Merriweather', Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-cursive: 'Nixie One', cursive;

.jumbotron h1{
	font-family: @font-family-cursive;
}